<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
</head>
<body>
    <header>
        <center>
            <h1>Blog Application</h1>
        </center>
        <ul>
            <li><a href="/">Home page</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/add">create post</a></li>
        </ul>
    </header>
